.form-row > .col, .form-row > [class*=col-] {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

form.form-dark .form-control, form.form-dark .form-control:active, form.form-dark .form-control:focus {
    background-color: rgba(255, 255, 255, 0);
    border-width: 2px;
    border-color: #ffffff;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 26px;
    color: white;
    font-size: 18px;
    font-family: inherit;
    line-height: 22px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 500;
    border-top-right-radius: 0px;
}

form.form-light .form-control, form.form-light .form-control:active, form.form-light .form-control:focus {
    background-color: white;
    border-width: 2px;
    border-color: black;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 26px;
    color: black;
    font-size: 18px;
    font-family: inherit;
    line-height: 22px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 500;
    border-top-right-radius: 0px;
}