.navbar-parked {
	@extend .bg-transparent;

	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
	transition: .2s;
}

.navbar-moved {
	@extend .bg-primary;

	box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
	padding-top: 1.5rem !important;
	padding-bottom: 1.5rem !important;
	transition: 0s !important;
}

.hamburger-inner {
	background: white !important;
	&:before {background: white !important;}
	&:after {background: white !important;}
}

.hamburger:hover {
    opacity: 1 !important;
}