////////////////////////////////////////
// SECOND BREAKPOINT: less than 768px //
////////////////////////////////////////
@include media-breakpoint-down(sm) {
	h1 {font-size: 52px !important;}
	h2 {font-size: 42px !important;}
	h3 {font-size: 22px !important;}
}

/////////////////////////////
// Between 768px and 992px //
/////////////////////////////
@include media-breakpoint-between(sm, md) {
	//
}